.table
    width 100%
    height 100%
    padding 20px
    box-sizing border-box
    font-family sans-serif
    overflow auto
table thead th,
table tbody td
    width calc(100% / 6)
    height 50px
    
table
    width 100%
table, th, td
  border: 1px solid black;
  border-collapse: collapse;
  text-align center
  border-color: black;

.centered
    text-align center
    height 100%
    display flex
    justify-content center
    align-items center


.exitAlignment
    padding-top 20px
    