.nav
    display flex
    flex-direction column
    background-color white
    border-right 1px solid #ccc
    box-shadow  0px 2px 8px rgba(black,0.2)
    div .button
        position absolute
        left 50%
        top 60%
        transform translate(-50%,-50%)
        background-color transparent
        color white
        font-size 1.5rem
        text-decoration none
        color black
        padding 1rem 2rem
        border-radius 12px
        width calc(100% - 7rem)

        
        &:hover,
        &.active
            color white
            transition all 0.3s
            background-color black
            box-shadow  0px 2px 8px rgba(black,0.2)
            cursor pointer
            border-color black

    .userLogo
        flex-basis 30%
        max-height 30%
        display flex
        justify-content center
        align-items center
        padding-top 50px
        img
            width: 200px;
    .firstDiv
        flex-basis 30%
        position relative
        a
            font-family sans-serif
    .secondDiv
        flex-basis 40%
        position relative
        a
            font-family sans-serif
        .button
            top 20%       
.typeOfUser
    font-family sans-serif
    text-align center
    width 100%
    font-weight bold
    