.spinner
    width 50px
    height 50px
    border 5px solid white
    border-color transparent black transparent black
    border-radius 50%
    animation animm 1s ease infinite
@keyframes animm {
    0%{
        transform rotate(0deg)
    }
    100% {
        transform rotate(360deg)
    }
}
